
<form action='/auth/register' method='post' class="form" id="login-form">

<h1>Cadastre-se</h1>
  <div class='form-control'>
    <label for="email">Código de acesso</label>
    <input
      type='text'
      name='code'
      placeholder='Código'
      required
    /></div>

  <div class='form-control'>
    <label for="email">Nome</label>
    <input
      type='text'
      name='name'
      placeholder='Nome'
      required
    /></div>
    
  <div class='form-control'>
    <label for="email">E-mail</label>
    <input
      type='email'
      name='email'
      placeholder='E-mail'
      required
    /></div>


  <div class='form-control'>
    <label for="password">Senha</label>
    <input
      type='password'
      name='password'
      placeholder='Senha'
      required
    /></div>

      <div class='form-control'>
    <label for="password">Confirme a sua senha</label>
    <input
      type='password'
      name='confirmpassword'
      placeholder='Confirme a sua senha'
      required
    /></div>

  <input type='submit' value='Entrar' class="button" />

</form>