<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js'
      integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <link rel='stylesheet' href='/css/style.css' />
    <script src='/js/script.js'></script>
    <title>Rapidão</title>
  </head>
  <body>

    <header>
      <nav id='navbar'>

        <a href='/' id="logo">
          <img src='/img/logo.png' alt='Logo Iron Mountain' />
        </a>

        <ul>
          {{#if session.admin}}
          <li><a href='/users/dashboard'>Dashboard</a></li>
            <li><a href='/create'>Criar novo tutorial</a></li>
            {{!-- <li><a href='/dashboard'>Dashboard</a></li> --}}
            <li><a href='/auth/logout'>Logout</a></li>

          {{else if session.user}}
            <li>
              <li><a href='/auth/logout'>Logout</a></li>
            </li>
          {{else}}
            <li>
              <a href='/auth/login'>Login |</a>
              <a href='/auth/register'>Cadastrar</a>
            </li>
          {{/if}}

        </ul>
      </nav>
    </header>

    <div class='container'>
      {{#if messages.message}}
        <div class='message'>
          {{messages.message}}
        </div>
      {{/if}}
      {{{body}}}
    </div>

  </body>
</html>