* {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eff0f9;
  /* background-color: #222; */
  color: #222;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
#logo img {
  width: 50%;
}

#navbar {
  padding: 1.2em 2.4em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eff0f9;
  color: #222;
  border-bottom: 1px solid #c0c7d7;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 1em;
}

#navbar ul li a {
  text-decoration: none;
  color: #222;
  transition: 0.5s;
  font-weight: bold;
}

#navbar ul li a:hover {
  color: #533de2;
}

/* CONTAINER */
.message {
  padding: 1em;
  color: #004085;
  background-color: #cce5ff;
  border: 1px soli d#b8daff;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto 2em;
  max-width: 60%;
}

.container {
  min-height: 60vh;
  padding: 2em;
}

.info {
  margin: 2rem 0;
}

.info h2 {
  margin-bottom: 0.5rem;
}

:root {
  --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
  --gray: #092c50;
  --darkgray: #06233f;
}

select {
  /* Reset Select */
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: 0.25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #42566b;
  transition: 0.25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #70bed0;
}

.form-control {
  margin: 2rem 0;
}

.form-control label {
  font-family: 'Poppins';
}



.button {
  border-radius: 10px;
  padding: 1rem;
  transition: 0.40s all ease;
  cursor: pointer;
  border: 2px #092c50 solid;
}

.button:hover{
  background-color: #092c50;
  color: white;

}

#actions {
  margin-top: 4rem;
}

#actions a, #actions .button {
  margin-right: 2rem;
}
a.button, #actions .button{
  background-color: #092c50;
  color: white;
  text-decoration: none;
}

input, textarea {
  padding: 0.5rem;
  border-radius: 10px;
  border: 1.5px #06233f solid;
}

form section {
  display: flex;
  background-color: inherit;

  justify-content: space-between;
}

.form-control {
  display: flex;
  flex-direction: column;
}


.form {
  margin: auto;
  width: 70%;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  padding: 3rem;
  margin: 0 auto;
}

#search-form {
  width: fit-content;
}

.form .button {
  background-color: #092c50;
  color: white;
  text-decoration: none;
  width: 8rem;
  margin: auto;
  margin-top: 2rem;
}

#section-one  input{
  width: 16rem;
}

.form label, h1 {
  color: #092c50;
}

#login-form {
  width: 30%;
}

#nonAuthorized img {
  text-align: center;
  margin: auto;
}

#nonAuthorized #image {
  width: 40%;
  margin: auto;
}

#nonAuthorized {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nonAuthorized .container {
  margin: auto;
}

#nonAuthorized .button {
  width: fit-content;

}

#nonAuthorized p {
  text-align: center;
}

#codeForm .button {
  padding: 0.5rem;
  background-color: #092c50;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#dashboard {
  display: flex;
}

#flex-container{
  margin: auto;
}

#codeForm {
  margin-bottom: 2rem;
}

#flex-container h1 {
  margin-bottom: 2rem;
}

table {
  border-collapse: collapse;
  border: 1px solid rgb(154, 154, 154);
}


  td {
  border-bottom: 1px solid rgb(154, 154, 154);

}

 td {
  padding: 0.3rem 2rem;
}

tr form input {
  cursor: pointer;
}

th {
  padding: 0.5rem;
  color: white;
  background-color: #222;

}