<section id="nonAuthorized">
  <div class="container">

<h1>Oops, você não tem autorização para acessar essa página</h1>
<div id="image"><img src="/img/403.svg" alt=""></div>




<p><a href="/" class="button">Ir para a página principal</a> </p>


</div>

</section>